# dependencies
node_modules/
.pnpm-store/

# build output
.next/
out/
dist/
build/
*.tsbuildinfo
tsconfig.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/generated/
packages/db/__generated__/
packages/db/src/generated/

# database
*.db
*.sqlite

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/
